@charset "UTF-8";

.show-attendance-box{
    margin: 2% 3%;
}

.layui-table-page {
    height: auto !important;
    text-align: center;
    padding: 10px 0;
}

#select-box .layui-form-label{
	width: 200px;
}

#select-box .layui-form-item .layui-input-inline{
	width: auto !important;
}

#select-box{
	vertical-align: middle;
}